* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  height: 100vh;
  background: rgb(59, 58, 56);
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.inputs {
  display: flex;
  gap: 0.5rem;
}
h1 {
  font-size: 3.5rem;
  color: white;
  padding-bottom: 0.8rem;
  font-weight: 700;
}

button {
  padding: 0.5rem;
  border-radius: 0.4rem;
  box-shadow:
    rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px,
    rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px,
    rgba(0, 0, 0, 0.09) 0px -3px 5px;
  color: white;
  font-weight: 500;
}

input {
  width: 18rem;
  padding: 0.5rem;
  border-radius: 0.4rem;
  margin-left: 5rem;
}
.button-add {
  background-color: green;
}
.button-limpar {
  background-color: red;
}
button:hover {
  filter: brightness(110%);
}

.tarefas {
  display: flex;
  color: white;
  font-weight: 400;

  flex-direction: column;

  height: 26rem;
  overflow-y: auto;
}
.tarefaListada {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}
.tarefaListada p {
  font-weight: 400;
  font-size: 1.2rem;
}
.riscado {
  text-decoration: line-through;
}
#tipoTarefa {
  padding: 8px;
  border-radius: 5px;
  background-color: #3f8bc9;
  color: #fff;
  border: 1px solid #333;
  width: 6.8rem;
}

#tipoTarefa option {
  background-color: #383636;
  color: #fff;
  padding: 8px;
}
